@import "tailwindcss";

/* login and signup css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #e0e5ec;
  display: flex;
  width:100%;
  
}
.login-signup-container{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 100vh;
}
.login-container {
  background: #e0e5ec;
  border-radius: 25px;
  box-shadow: 10px 10px 20px #a3b1c6,
    -10px -10px 20px #ffffff;
  padding: 50px 40px;
  width: 340px;
  text-align: center;
  
}

/* .profile-img {
  width: 80px;
  height: 80px;
  margin: 0 auto 20px;
  border-radius: 50%;
  background: #e0e5ec;
  background: url('https://picsum.photos/200');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 6px 6px 10px rgb(163,177,198, 0.5),
    inset -6px -6px 10px rgb(255,255,255, 0.5);
  overflow: hidden;
} */

h2 {
  color: #333;
  font-size: 1.3rem;
  margin-bottom: 5px;
}

p {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 25px;
}

.input-field {
  position: relative;
  margin-bottom: 20px;
}

.input-field input {
  width: 100%;
  padding: 12px 45px;
  border: none;
  border-radius: 15px;
  background: #e0e5ec;
  box-shadow: inset 6px 6px 10px #a3b1c6,
    inset -6px -6px 10px #ffffff;
  font-size: 0.95rem;
  color: #333;
  outline: none;
}

.input-field i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
}

.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 20px;
  background: #40a9c3;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 5px 5px 15px #a3b1c6,
    -5px -5px 15px #ffffff;
  transition: 0.2s;
}

.btn:hover {
  background: #3a97af;
}

.options {
  margin-top: 15px;
  font-size: 0.85rem;
  color: #555;
}

.options a {
  color: #111;
  text-decoration: none;
  font-weight: 600;
}

/* dashboard home css */
.dashboard-home{
  width:100%;
  
}
.dashboard-header{
  background-color: red;
  width: 100%;
  padding-left:20%;
  height: 20vh;
}
/* sideNav css */

.menu{
	background:lightblue;
	height:100vh;
	width:20%;
	position:fixed;
	top:0;
	left:0;

	outline:none;
}
.avatar{
		background:rgba(245, 247, 248, 0.921);
		justify-content: space-between;
		align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    height: 20vh;
    
}
.avatar-img{
  width:100%;
  height: 100%;
  display: flex;
  justify-content: center;

}
img{
			
			border-radius:50%;
			overflow:hidden;
			
			box-shadow:0 0 0 4px rgba(255,255,255,0.2);
}
.avatar-username{
  width:100%;
  /* height: 10%; */
  display: flex;
  justify-content: center;
}
h2{
			font-weight:normal;
			margin-bottom:0;
}
	
ul{
		list-style:none;
		padding-left: 5%;
    padding-top: 5%;
		margin:0;
  }
li{
			padding-top: 5%;
			font-size:0.95em;
			font-weight:regular;
			background-repeat:no-repeat;
			background-position:left 15px center;
			background-size:auto 20px;
			transition:all 0.15s linear;
			cursor:pointer;
}
	
/* cards css */
.cards-div{
  display: flex;
  justify-content: center;
  
  
 
}
.card-container{
  padding-left: 2%;
}
.card{
  display: flex;
  padding: 2%;
  margin: 2%;
}